<if condition="page.social === 'true'">
  <p class="text-center">
    <a class="md:mx-5 mr-16" href="#"><img src="https://image.s11.sfmc-content.com/lib/fe3211717164057c7c1c70/m/1/032f4ab4-bd2e-47b1-824d-5a15dd3bea78.png" width="52" height="52" alt=""/></a>
    <a class="md:mx-5 mx-16" href="#"><img src="https://image.s11.sfmc-content.com/lib/fe3211717164057c7c1c70/m/1/fce1caa8-dbf2-4398-9a70-4161f23c9ad8.png" width="52" height="52" alt=""/></a>
    <a class="md:mx-5 mx-16" href="#"><img src="https://image.s11.sfmc-content.com/lib/fe3211717164057c7c1c70/m/1/e96e46fa-bbfa-4059-af09-1dde1754045c.png" width="52" height="52" alt=""/></a>
    <a class="md:mx-5 ml-16" href="#"><img src="https://image.s11.sfmc-content.com/lib/fe3211717164057c7c1c70/m/1/fc5041e7-606c-4b0b-930d-d656768708f0.png" width="52" height="52" alt=""/></a>
  </p>
</if>
<p class="font-sans text-s text-white text-center">
  %%Member_Busname%%<br/>
  %%Member_Addr%% %%Member_City%%, %%Member_State%%, %%Member_PostalCode%%, %%Member_Country%%<br/>
  Copyright &copy; %%=v(FormatDate(Now(),"YYYY"))=%% SDSU Global Campus - All Rights Reserved<br/>
  <a class="text-white" href="%%profile_center_url%%">Update Communication Preferences</a> |
  <a class="text-white" href="%%profile_center_url%%">Unsubscribe</a>
</p>
