<div class="leading-16">&zwnj;</div>
<if condition="page.env === 'production'">
  <div data-type="slot" data-key="qubtdego0i" data-label="Add Social Media Icons Here (Use Social Media Icons Content)"></div>
</if>
<else>
  <if condition="page.social === 'true'">
    <p class="text-center">
      <a href="https://www.facebook.com/SDSUglobalcampus"><img src="https://image.s11.sfmc-content.com/lib/fe3211717164057c7c1c70/m/1/e3868f31-2625-4951-b92b-07d09f97aac2.png" width="52" height="52" alt=""/></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.linkedin.com/school/sdsu-global-campus"><img src="https://image.s11.sfmc-content.com/lib/fe3211717164057c7c1c70/m/1/d7d93030-0924-4239-80ef-857ce1b58de1.png" width="52" height="52" alt=""/></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://twitter.com/SDSUglobal"><img src="https://image.s11.sfmc-content.com/lib/fe3211717164057c7c1c70/m/1/76151f80-201f-4297-b493-ff3f48822799.png" width="52" height="52" alt=""/></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://youtube.com/sdsuglobalcampus"><img src="https://image.s11.sfmc-content.com/lib/fe3211717164057c7c1c70/m/1/64346d17-f2fd-45f4-bae2-a4e1e3c1406e.png" width="52" height="52" alt=""/></a>
    </p>
  </if>
</else>
<p class="font-sans text-s text-white text-center">
  %%Member_Busname%%<br/>
  %%Member_Addr%% %%Member_City%%, %%Member_State%%, %%Member_PostalCode%%, %%Member_Country%%<br/>
  Copyright &copy; %%=v(FormatDate(Now(),"YYYY"))=%% SDSU Global Campus - All Rights Reserved<br/>
  <a class="text-white" href="%%profile_center_url%%">Update Communication Preferences</a> |
  <a class="text-white" href="%%profile_center_url%%">Unsubscribe</a>
</p>
<div class="leading-16">&zwnj;</div>
